body {
  margin: 0;
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
}

/* @media only screen and (min-width: 1024px) {
  html {
    font-size: 16rem;
  }
} */

@media only screen and (min-width: 1024px) {
  html {
    font-size: 28px;
  }
}

@media only screen and (min-width: 1440px) {
  html {
    font-size: 32px;
  }
}
